#profileCard{
    display:flex;
    flex-direction: column;
    border: solid black 1px;   
    width: 300px;
    margin-left: 20px;
}

#profileContainer {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    width: 300px;
    margin-top: 15px;
    margin-bottom: 30px;    
}

#profileInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;
}

#userImg {
    width:  60px;
    height: 80px;
    margin-left: 20px;
    border-radius: 10px;
}

#editProfileButton {
    width: 258px;
    height: 35px;
    margin-left: 20px;
    margin-bottom: 22px;
}

#editProfileButton:hover {
cursor: pointer;
}

#productCard {
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    border: solid black 1px;
    width: 300px;
    margin-left: 22px;
    margin-top: 10px;
}

#productImg{
    border: solid black 0.1px;
}

#addToCartButton {
color: white;
background-color: blue;
width: 300px;
height: 40px;
}

#addToCartButton:hover {
cursor: pointer;
}